body{
    background:rgb(34, 193, 195);
    margin: 0;
    font-family:'poppins',sans-serif;
}
#form{
    border: 1px solid black;
    width: 400px;
    height: 20vh auto 0 auto;
    border-radius: 5px;
    padding: 30px;
    background-color: whitesmoke;
}
h1{
    text-align: center;
    color: blueviolet;

}
#form button{
    background-color: #792099;
    color: white;
    padding: 10px;
    border: 1px solid #792099;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;

}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.error{
    color: red;
    font-size: 16px;
}
.input-group.success input{
    border-color: red;
}
.input-group.error input{
    background-color: yellow;
}